.filters li button:not(.selected) {
  cursor: pointer;
}

.filters li button.selected {
  background-color: white;
  border: 1px solid rgb(209, 141, 144);
  border-radius: 2px;
}

.filters li:hover button {
  text-decoration: underline;
}
